<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <!-- 番茄工作法     -->
    <div id="modal-1" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content pa-model-1">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">基本步驟</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="lead">1.決定任務。</p>
            <p class="lead">2.設定番茄鐘（通常為25分鐘）。</p>
            <p class="lead">3.持續工作到番茄鐘響起，紀錄一個番茄。 </p>
            <p class="lead">4.短暫休息3-5分鐘。 </p>
            <p class="lead">5.每四個番茄，休息15-30分鐘。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 番茄工作法     -->

    <!-- 設定 -->
    <div id="modal-2" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form class="needs-validation p-3" novalidate>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">番茄時間</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="25" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">長時間休息</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="15" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom03">短時間休息</label>
                <input type="text" class="form-control" id="validationCustom03" placeholder="Last name" value="5" required>
              </div>
            </div>
            <button id="btn-setting-ok" class="btn btn-primary" type="button">確定</button>
          </form>
        </div>
      </div>
    </div>
    <!-- 設定  -->

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render partial: "layouts/header" %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
    </div>
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->

  </body>
</html>
