<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="card text-center">
      <%= render partial: "layouts/header" %>
      <div class="card-body">
        <%= yield %>
        <!-- <h5 class="card&#45;title">Special title treatment</h5> -->
        <!-- <p class="card&#45;text">With supporting text below as a natural lead&#45;in to additional content.</p> -->
        <!-- <a href="#" class="btn btn&#45;primary">Go somewhere</a> -->
      </div>
      <div class="card-footer text-muted">
        <%= render partial: "layouts/footer" %>
      </div>
    </div>

    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->

  </body>
</html>
