<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

    <!-- 番茄工作法     -->
    <div id="modal-1" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content pa-model-1">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">番茄工作法</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="lead">番茄工作法（英語：Pomodoro Technique）是一種時間管理法</p>
            <p class="lead">
            該方法使用一個定時器，來分割出一個一般為25分鐘的工作時間和5分鐘的休息時間，而那些時間段被稱為pomodoros。by </p>
            <p class="lead">番茄工作法有五個基本步驟：</p>
            <p class="lead">決定待完成的任務</p>
            <p class="lead">設定番茄工作法定時器至 n 分鐘（通常為25分鐘）。</p>
            <p class="lead"> 持續工作直至定時器提示,記下一個x。 </p>
            <p class="lead"> 短暫休息3-5分鐘。 </p>
            <p class="lead">每四個x，休息15-30分鐘。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 番茄工作法     -->

    <!-- 設定 -->
    <div id="modal-2" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
    <!-- 設定  -->

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render partial: "layouts/header" %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
    </div>
    <!-- <p class="notice"><%= notice %></p> -->
    <!-- <p class="alert"><%= alert %></p> -->

  </body>
</html>
